body

{

	font-family: 'Playfair Display', serif;
	
}

a 
{

	text-decoration: none;
	border: 1px solid black;
	padding-right: 10px;
}


#page
{

background-color: #FFF3E0;

}


#up 
{
	background-image: url(back.png);
}

header 

{
	text-align: center;
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	
}

img 

{
	
	overflow:hidden;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	


}

#contenue

{
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	border-top: 5px solid black;
	background-color: white;
	
}



#bio

{

	text-align: center;
	margin-bottom: 0px;
	
	
}

.box

{
	display: inline-block;
	vertical-align: top;
}

article
{
	
	width: 800px;


}

nav
{
	border: 3px solid black;
	margin-top: 10%;
	width: 100px;
	margin-left: 30px;
	
}

ul

{

	padding-left: 10px;

}

ul li 

{
	list-style: none;


}

li 

{

	margin-bottom: 10px;

}

p

{

	margin-left: 10px;

}

.texte
{

	display: none;

}

#backModal

{ /*--Masque opaque noir de fond--*/

	display: none;  
	background: #000;
	position:fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 5);
	opacity: .80;
	z-index: 9999;
}

#frontModal

{ /* balise contact */

	display: block;
	background: #fff;
	border: 20px solid #ddd;
	width: 300px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -170px;

}

#croix 

{

	margin-left: 82%;
	margin-top: -0.3%;

}